<button (click)="addCheck()">Nuevo check</button>
<button (click)="addRadio()">Nuevo radio</button>
<button (click)="addInput()">Nuevo input</button>
<button (click)="showInfo()">info</button>
<gridster [options]="options">
	<gridster-item *ngFor="let item of dashboard; let i = index" [item]="item">
		<div (mousedown)="$event.stopPropagation()">
			<ng-template #host></ng-template>
		</div>
		<button class="remove-button" (click)="removeItem(item)" (touchstart)="removeItem(item)">
			Remove
		</button>
	</gridster-item>
</gridster>